* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* margin: 1px; */
}

body, html {
  height: 100%;
}

.parallax1 {
  background-image: url('/images/peas.jpeg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('/images/family.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  margin: 20px auto 40px auto;
  text-align: center;
  position: relative;
}

.welcome {
  font-size: 36px;
}

.sub {
  font-size: 20px;
}

.one {
  letter-spacing: 3px;
  font-size: 20px;
}

/*
.row {
	padding-bottom: 3rem;
	height: 70vh;
} */

.easy1, .easy2, .easy3 {
	/* display: inline-block; */
  display: block;
	position: relative;
  font-size: 20px;
	/* width: 30%; */
  width: 100%;
	/* float: left; */
	height: 90%;
	margin-bottom: 20px;
	/* min-height: 10rem; */
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}

.how1, .how2, .how3 {
	font-size: 14px;
  text-align: center;
  /* text-align: justify; */
  margin: 5px 20px;
  /* letter-spacing: 1px; */
}

/* .easy .image {
	margin: 1rem 0;
	height: 70%;
	width: 100%;
	background-position: center;
	background-size: cover;
} */

/* peas photo */
/* img {
  max-width: 100%;
} */

#beginbtn {
  border-radius: 15px;
  background: white;
  cursor: pointer;
  padding: 6px;
  width: 200px;
  color: #63a369;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#beginbtn:hover, #beginbtn:focus {
  background: #d6d6d6;
}

fieldset {
  border: none;
}

input[type=text] {
  font-size: 18px;
  min-width: 48px;
  min-height: 48px;
}

.nav {
  margin: 30px 0;
}

.nav a {
  text-decoration: none;
}

button {
  font-size: 18px;
  min-width: 48px;
  min-height: 48px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background-color: #63a369;
  border-radius: 15px;
}

button:hover, button:focus {
  background-color: white;
  color: #63a369;
}


/* Recipes page */


#datepicker, #search-term, #entry {
  font-size: 16px;
  width: 250px;
  min-height: 48px;
  display: block;
  border: none;
  border-bottom: solid 1px #63a369;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #63a369 4%);
  background-position: -250px 0;
  background-size: 250px 100%;
  background-repeat: no-repeat;
  color: #63a369;
}

#datepicker:focus, #datepicker:hover, #search-term:focus, #search-term:hover, #entry:focus, #entry:hover {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#datepicker::placeholder, #search-term::placeholder, #entry::placeholder {
  color: #B0C4DE;
}

label[for=datepicker], label[for=search-term], .choose {
  font-size: 20px;
}

.recipelist {
  padding: 8px;
}

.recipe-search {
  margin-top: 40px;
}

#submitrecipesbtn:disabled, #submitrecipesbtn:disabled:hover, #submitrecipesbtn:disabled:focus {
  cursor: auto;
  background-color: transparent;
  border: none;
}

#submitrecipesbtn {
  background-color: white;
  color: #63a369;
  cursor: pointer;
}

#submitrecipesbtn:hover, #submitrecipesbtn:focus {
  background-color: #d6d6d6;
}

.mealplan-submit {
  background-color: #63a369;
  color: white;
}

.mealplan-submit, #searchrecipesbtn {
  margin-top: 20px;
}

.selection {
  padding: 10px;
  margin: 20px;
  border: solid 1px #63a369;
}

.recipe-name, .add-recipe {
  display: inline-block;
  font-size: 18px;
  max-width: 250px;
}

.add-recipe {
  float: right;
}

.recipesReturned {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
}

.recipesReturned li {
  list-style: none;
  border: 1px solid #63a369;
  margin-bottom: 5px;
}

.resultsimg {
  cursor: pointer;
}

.mealitem {
  font-size: 22px;
}

.remove-meal-item {
  background-color: transparent;
  border: none;
  color: white;
}

.remove-meal-item:hover, .remove-meal-item:focus {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

/* Meal Plan page */

.buttongroup {
  margin-top: 30px;
}

.mp, .sl {
  margin-top: 50px;
}

.rname {
  margin-top: 50px;
}

#gotolist, #backtomp {
  font-family: "Lucida Grande";
  padding: 13px;
  font-size: 18px;
  text-decoration: none;
  background: #63a369;
  color: black;
  width: 174px;
  height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

#gotolist:hover, #gotolist:focus, #backtomp:hover, #backtomp:focus {
  background-color: white;
  color: #63a369;
  border: 1px solid #d6d6d6;
}

#recipelink {
  font-family: "Lucida Grande";
  padding: 8px;
  font-size: 12px;
  text-decoration: none;
  background: #add8e6;
  color: black;
  width: 48px;
  height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

#recipelink:hover, #recipelink:focus {
background: #72bcd4;
}

.buttongroup {
  margin-top: 50px;
}

/* #newmpbtn, #previous, #gobackbtn {
  margin-left: 10px;
} */


/* Shopping List page */

.additem {
  font-size: 20px;
}

.shoppingList-entry {
  margin-bottom: 8px;
}

#shopping-list-add {
  border: 1px solid #63a369;
  padding: 8px;
}

.shopping-list-items, .my-added-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.shopping-list-items li, .my-added-items li {
  margin-bottom: 8px;
  padding: 8px;
  font-size: 14px;
  transition: 0.2s;
  min-width: 48px;
  min-height: 48px;
}

.my-added-items li {
  background: #add8e6;
}

.my-added-items li:hover, .my-added-items li:focus {
  background: #72bcd4;
}

.shopping-list-items li {
  background: #eee;
}

.shopping-list-items li:hover, .shopping-list-items li:focus {
  background: #ddd;
}

.editable {
  border: solid 1px #63a369;
}

.editable .non_edit {
  display: none;
}

.edit {
  display: none;
}

.editable .edit {
  display: inline;
}

.check  {
  cursor: pointer;
  float: left;
  margin-right: 10px;
}

.checked {
  text-decoration: line-through;
}

.new {
  overflow: auto;
  display: block;
}

.editbtn1, .editbtn2, .del1, .del2  {
  cursor: pointer;
  margin-top: 10px;
  /* display: block; */
}

.editbtn1, .editbtn2 {
  float: left;
  margin-right: 10px;
}

.editbtn1:hover, .editbtn2:hover {
  font-weight: bold;
  text-decoration: underline;
}

.del1:hover, .del2:hover {
  font-size: 120%;
}

@media screen and (min-width: 600px) {
  .shopping-list-items li, .my-added-items li {
    font-size: 18px;
  }
  .shopping-list {
    margin: 10px 30px;
  }
  .nav li {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .welcome {
    font-size: 50px;
  }
  .sub, .one, .easy1, .easy2, .easy3 {
    font-size: 40px;
  }
  .how1, .how2, .how3 {
    font-size: 20px;
  }
  .shopping-list {
    margin: 10px 150px;
  }
}

@media screen and (min-width: 900px) {
  .shopping-list {
    margin: 10px 200px;
  }
}
