* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  margin: 20px auto 40px auto;
  text-align: center;
  position: relative;
}

img {
  max-width: 100%;
  /* height: auto; */
}

.logo {
	width: 100%;
	background-color: black;
	color: white;
	opacity: 0.6;
  position: absolute;
  font-size: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tagline {
  font-size: 35px;
  line-height: 35px;
  display: inline-block;
  font-weight: 400;
}

.welcome {
  line-height: 36px;
  font-size: 24px;
  text-align: center;
}

a {
  color: #00B7FF;
}

.nav {
    background-color: #444;
  }

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  margin: 0;
}

.nav li {
  /* font-size: 1.2em; */
  line-height: 40px;
  float: left;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #03ad14;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

.selection {
  padding: 10px;
  margin: 20px;
  border: solid 1px #03ad14;
}

.recipesReturned li {
  list-style: none;
}

.resultsimg {
  cursor: pointer;
}

.editable {
  border:solid 1px blue;
}

.editable .non_edit {
  display: none;
}

.edit {
  display: none;
}

.editable .edit {
  display: inline;
}

.shopping-list li {
  cursor: pointer;
  list-style: none;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

.shopping-list li:hover {
    background: #ddd;
}

.shopping-list li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.shopping-list li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.closebtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.closebtn:hover {
  background-color: #f44336;
  color: white;
}

.editbtn {
  position: absolute;
  right: 40px;
  top: 0;
}

.editbtn:hover {
  background-color: blue;
  color: white;
}

.recipe-header {
  display: inline;
}

.recipe-checkbox, .recipeName {
  display: inline-block;
  font-size: 24px;
}

.recipeImage {
  display: block;
  width: 300px;
  max-height: 300px;
}

label, input {
  font-size: 24px;
}

button {
  font-size: 16px;
  padding: 16px;
  /* margin: 30px 10px 10px 10px; */
  text-align: center;
  cursor: pointer;
  background: #aaaaaa;
}

button:hover, button:focus {
  background-color: #03ad14;
}
