* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  margin: 20px auto 40px auto;
  text-align: center;
  position: relative;
}

/* peas photo */
img {
  max-width: 100%;
  /* height: auto; */
}

.logo {
	width: 100%;
	background-color: black;
	color: white;
	opacity: 0.6;
  position: absolute;
  font-size: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tagline {
  font-size: 35px;
  line-height: 35px;
  display: inline-block;
  font-weight: 400;
}

.welcome {
  line-height: 36px;
  font-size: 24px;
  text-align: center;
}

a {
  color: #00B7FF;
}

.nav {
    background-color: #444;
  }

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  margin: 0;
}

.nav li {
  /* font-size: 1.2em; */
  line-height: 40px;
  float: left;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #03ad14;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

button {
  font-size: 14px;
  padding: 8px;
  /* margin: 30px 10px 10px 10px; */
  text-align: center;
  cursor: pointer;
  background-color: #03ad14;
}

button:hover, button:focus {
  background-color: #aaaaaa;
}

input[type=text] {
  font-size: 22px;
}


/* Recipes page */

.selection {
  padding: 10px;
  margin: 20px;
  border: solid 1px #03ad14;
}

.recipe-checkbox, .recipeName {
  display: inline-block;
}

.recipesReturned li {
  list-style: none;
}

.resultsimg {
  cursor: pointer;
}

.border {
  border-width: 10px;
  border-style: solid;
  border-color: #03ad14;
}

/* Shopping List page */

.editable {
  border:solid 1px #03ad14;
}

.editable .non_edit {
  display: none;
}

.edit {
  display: none;
}

.editable .edit {
  display: inline;
}

.check  {
  cursor: pointer;
}

.shopping-list {
  margin: 10px 120px 10px 100px;
}

.shopping-list-items li, .my-added-items li {
  list-style: none;
  position: relative;
  padding: 8px;
  background: #eee; //very light gray
  font-size: 18px;
  transition: 0.2s;
}

.shopping-list li:hover {
    background: #ddd; //light gray
}

.checked {
  text-decoration: line-through;
}

.closebtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
}

.editbtn {
  position: absolute;
  right: 60px;
  top: 7px;
  cursor: pointer;
}

.editbtn:hover {
  font-weight: bold;
  text-decoration: underline;
}

.fa {
  position: absolute;
  right: 30px;
  top: 9px;
  cursor: pointer;
}

.fa:hover {
  font-size: 120%;
}
