* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /* margin: 1px; */
}

body, html {
  height: 100%;
}

.parallax1 {
  background-image: url('/images/peas.jpeg');
  height: 100%;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('/images/family.png');
  height: 100%;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url('/images/peas.jpeg');
  height: 100%;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image1 {
  background-image: url('/images/cookbook_tn.jpg');
}

.image2 {
  background-image: url('/images/check_tn.jpg');
}

.image3 {
  background-image: url('/images/grocery-shopping_tn.jpg');
}

//////////////////////////////////////////////
.header {
  margin: 20px auto 40px auto;
  text-align: center;
  position: relative;
}

.row {
	padding-bottom: 3rem;
	height: 70vh;
}

.easy {
	padding: 1rem;
	display: inline-block;
	position: relative;
	width: 30%;
	float: left;
	height: 90%;
	margin: 0 1%;
	min-height: 10rem;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}

.easy p {
	font-size: 16px;
}

.easy .image {
	margin: 1rem 0;
	height: 70%;
	width: 100%;
	background-position: center;
	background-size: cover;
}

/* peas photo */
/* img {
  max-width: 100%;
} */

/* .logo {
	width: 100%;
	background-color: black;
	color: white;
	opacity: 0.6;
  position: absolute;
  font-size: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .tagline {
  font-size: 15px;
  display: inline-block;
  font-weight: 400;
} */

/* .welcome {
  font-size: 15px;
  text-align: center;
} */
//////////////////////////////////////////////
.loginform {
  text-align: center;
}

.login {
  display: inline-block;
}

fieldset {
  border: none;
}

#username, #password, #datepicker, #search-term, #entry {
  font-size: 16px;
  width: 250px;
  min-height: 48px;
  display: block;
  border: none;
  border-bottom: solid 1px #63a369;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #63a369 4%);
  background-position: -250px 0;
  background-size: 250px 100%;
  background-repeat: no-repeat;
  color: #63a369;
}

#username:focus, #username:valid, #password:focus, #password:valid, #datepicker:focus, #datepicker:hover, #search-term:focus, #search-term:hover, #entry:focus, #entry:hover {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#username::placeholder, #password::placeholder {
  color: white;
  opacity: 0.6;
  visibility: visible !important;
}

#datepicker::placeholder, #search-term::placeholder, #entry::placeholder {
  color: #B0C4DE;
}

input[type=text] {
  font-size: 18px;
  min-width: 48px;
  min-height: 48px;
}

#beginbtn {
  border: none;
  background: #63a369;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#beginbtn:hover, #beginbtn:focus {
  background-color: white;
  color: #63a369;
}

.nav {
  background-color: #444;
  }

.nav ul {
  list-style: none;
  background-color: white;
  text-align: center;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.nav li {
  line-height: 40px;
  font-size: 12px;
  float: left;
  height: 48px;
}

.nav a {
  text-decoration: none;
  min-height: 48px;
  display: block;
  transition: .3s background-color;
  color: black;
  padding: 5px;
}

.nav a:hover {
  background-color: #63a369;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

button {
  font-size: 18px;
  min-width: 48px;
  min-height: 48px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background-color: #63a369;
}

button:hover, button:focus {
  background-color: white;
  color: #63a369;
}


/* Recipes page */


.choose {
  font-size: 20px;
  text-align: center;
}

#submitrecipesbtn:disabled {
  background-color: #63a369;
  cursor: auto;
}

.mealplan-submit, #searchrecipesbtn {
  margin-top: 20px;
}

.recipe-search {
  margin-top: 40px;
}

.selection {
  padding: 10px;
  margin: 20px;
  border: solid 1px #63a369;
}

.recipe-name, .add-recipe {
  display: inline-block;
  font-size: 18px;
  max-width: 250px;
}

.recipesReturned li {
  list-style: none;
  border: 1px solid #63a369;
  margin-bottom: 5px;
}

.recipesReturned {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
}

.resultsimg {
  cursor: pointer;
}

.mealitem {
  font-size: 18px;
}

.remove-meal-item {
  background-color: transparent;
  border: none;
}

.remove-meal-item:hover, .remove-meal-item:focus {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

/* Meal Plan page */

.buttongroup {
  margin-top: 30px;
}

#gotolist {
  font-family: "Lucida Grande";
  padding: 13px;
  font-size: 18px;
  text-decoration: none;
  background: #63a369;
  color: black;
  width: 174px;
  height: 48px;
  text-align: center;
  cursor: pointer;
}

#gotolist:hover, #gotolist:focus {
  background-color: white;
  color: #63a369;
}

#newmpbtn, #previous, #gobackbtn {
  margin-left: 10px;
}

/* Shopping List page */

.new {
  margin-right: 20px;
}

.editable {
  border: solid 1px #63a369;
}

.editable .edit {
  display: inline;
}

.editable .non_edit {
  display: none;
}

.edit {
  display: none;
}

.check  {
  cursor: pointer;
}

.shopping-list-items, .my-added-items {
  margin: 10px 0;
  padding: 0;
}

.shopping-list-items li, .my-added-items li {
  list-style: none;
  position: relative;
  padding: 8px;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  min-width: 48px;
  min-height: 48px;
}

.shopping-list li:hover {
  background: #ddd;
}

.checked {
  text-decoration: line-through;
}

.closebtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
}

.editbtn {
  position: absolute;
  right: 40px;
  top: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.editbtn:hover {
  font-weight: bold;
  text-decoration: underline;
}

.fa {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
}

.fa:hover {
  font-size: 120%;
}

@media screen and (min-width: 600px) {
  .shopping-list-items li, .my-added-items li {
    font-size: 18px;
  }
  .shopping-list {
    margin: 10px 30px;
  }
  .nav li {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .parallax1 {
    font-size: 50px;
    background-attachment: fixed;
  }
  .parallax2 {
    font-size: 50px;
    background-attachment: fixed;
  }
  .parallax3 {
    font-size: 30px;
    background-attachment: fixed;
  }
  .shopping-list {
    margin: 10px 150px;
  }
}

@media screen and (min-width: 900px) {
  .shopping-list {
    margin: 10px 200px;
  }
}
