* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  margin: 20px auto 40px auto;
  text-align: center;
  position: relative;
}

/* peas photo */
img {
  max-width: 100%;
}

.logo {
	width: 100%;
	background-color: black;
	color: white;
	opacity: 0.6;
  position: absolute;
  font-size: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tagline {
  font-size: 15px;
  display: inline-block;
  font-weight: 400;
}

.welcome {
  font-size: 15px;
  text-align: center;
}

.loginform {
  text-align: center;
}

.login {
  display: inline-block;
}

a {
  color: #00B7FF;
}

.nav {
  background-color: #444;
  }

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.nav li {
  line-height: 40px;
  font-size: 12px;
  float: left;
  height: 48px;
  width: 25%;
}

.nav a {
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #63a369;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

button {
  font-size: 18px;
  min-width: 48px;
  min-height: 48px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background-color: #63a369;
}

button:hover, button:focus {
  background-color: #03ad14;
}

input[type=text] {
  font-size: 16px;
  min-width: 48px;
  min-height: 48px;
}


/* Recipes page */

#datepicker {
  min-width: 250px;
}

#submitrecipesbtn:disabled {
  background-color: #63a369;
  cursor: auto;
}

.mealplan-submit {
  margin-top: 20px;
}

.selection {
  padding: 10px;
  margin: 20px;
  border: solid 1px #63a369;
}

.recipe-name, .add-recipe {
  display: inline-block;
  font-size: 18px;
  max-width: 250px;
}

.recipesReturned li {
  list-style: none;
  border: 1px solid #63a369;
  margin-bottom: 5px;
}

.recipesReturned {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
}

.resultsimg {
  cursor: pointer;
}

.mealitem {
  font-size: 18px;
}

.remove-meal-item {
  background-color: transparent;
  border: none;
}

.remove-meal-item:hover, .remove-meal-item:focus {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

/* Meal Plan page */

#gobackbtn {
  margin-right: 10px;
}

#gotolist {
  padding: 8px;
  font-size: 18px;
  text-decoration: none;
  background: #63a369;
  color: black;
  width: 174px;
  height: 48px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

#fakebtn:hover, #fakebtn:focus {
  background-color: #03ad14;
}

#newmpbtn {
  margin-left: 10px;
}

/* Shopping List page */

.new {
  margin-right: 20px;
}

.editable {
  border: solid 1px #63a369;
}

.editable .non_edit {
  display: none;
}

.edit {
  display: none;
}

.editable .edit {
  display: inline;
}

.check  {
  cursor: pointer;
}

.shopping-list-items, .my-added-items {
  margin: 10px 0;
  padding: 0;
}

.shopping-list-items li, .my-added-items li {
  list-style: none;
  position: relative;
  padding: 8px;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  min-width: 48px;
  min-height: 48px;
}

.shopping-list li:hover {
  background: #ddd;
}

.checked {
  text-decoration: line-through;
}

.closebtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
}

.editbtn {
  position: absolute;
  right: 40px;
  top: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.editbtn:hover {
  font-weight: bold;
  text-decoration: underline;
}

.fa {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
}

.fa:hover {
  font-size: 120%;
}

@media screen and (min-width: 600px) {
  .shopping-list-items li, .my-added-items li {
    font-size: 18px;
  }
  .shopping-list {
    margin: 10px 30px;
  }
  .nav li {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 50px;
  }
  .tagline {
    font-size: 30px;
  }
  .welcome {
    font-size: 30px;
  }
  .shopping-list {
    margin: 10px 150px;
  }
}

@media screen and (min-width: 900px) {
  .shopping-list {
    margin: 10px 200px;
  }
}
