* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

.nav-bar {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #d3d3d3;
}

.top-nav {
  position: absolute;
  right: 10px;
  top: 10px;
}

#beginbtn, .nav-link {
  border-radius: 15px;
  background: #3fb26d;
  cursor: pointer;
  padding: 6px;
  width: 200px;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#beginbtn:hover, #beginbtn:focus, .nav-link:hover, .nav-link:focus {
  background: #606060;
}

a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  border-radius: 100%;
  font-weight: 800;
}

.logo h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.top {
  text-align: center;
  color: white;
  width: 100%;
  position: relative;
}

.tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  margin: auto;
  position: relative;
  text-align: center;
}

.bottomsub {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 10px 0;
  justify-content: center;
  background-color: #3fb26d;
}

/* .bottomsub::after {
  content: "";
  background: url(../images/peas.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.step1, .step2, .step3, .register {
  font-size: 18px;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.how {
	font-size: 14px;
}

input[type=text] {
  font-size: 18px;
  min-width: 48px;
  min-height: 48px;
}

.nav {
  margin: 30px 0;
}

.nav a {
  text-decoration: none;
}

button {
  font-size: 18px;
  min-width: 48px;
  min-height: 48px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #3fb26d;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover, button:focus {
  background-color: white;
  color: #3fb26d;
}


/* Recipes page */


.recipe-page {
  background-color: #5bbeff;
}

.search {
  padding: 30px;
  max-width: 600px;
  margin: auto;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

#datepicker, #search-term {
  font-size: 16px;
  width: 250px;
  min-height: 48px;
  margin: auto;
  position: relative;
  text-align: center;
  display: block;
  border: none;
  border-bottom: solid 1px ;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,  4%);
  background-position: -250px 0;
  background-size: 250px 100%;
  background-repeat: no-repeat;
}

label[for=datepicker], label[for=search-term] {
  font-size: 20px;
}

#datepicker:focus, #datepicker:hover, #search-term:focus, #search-term:hover {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#datepicker::placeholder, #search-term::placeholder {
  color: #b0c4de;
}

.recipe-search {
  margin-top: 40px;
}

#searchrecipesbtn {
  margin-top: 20px;
}

.mealplan-submit {
  background-color: #5b6cff;
  color: white;
  max-width: 600px;
  margin: auto;
  position: relative;
  text-align: center;
}

.selection  {
  padding: 30px;
  max-width: 600px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #5b6cff;
}

.summary {
  text-align: center;
  font-size: 32px;
}

.recipe-counter {
  font-size: 24px;
}

.mealitem {
  font-size: 22px;
  text-align: left;
  margin-bottom: 10px;
}

.remove-meal-item {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
}

.remove-meal-item:hover, .remove-meal-item:focus {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

#submitrecipesbtn:disabled, #submitrecipesbtn:disabled:hover, #submitrecipesbtn:disabled:focus {
  cursor: auto;
  background-color: transparent;
  color: transparent;
  border: none;
}

#submitrecipesbtn {
  background-color: white;
  color: #3fb26d;
  cursor: pointer;
}

#submitrecipesbtn:hover, #submitrecipesbtn:focus {
  background-color: #d3d3d3;
}

.recipes {
  margin: auto;
  position: relative;
  text-align: center;
}

.choose {
  font-size: 20px;
}

.recipesReturned {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
  justify-content: center;
}

.recipesReturned li {
  list-style: none;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipelist {
  padding: 8px;
  background-color: white;
}

.resultsimg {
  cursor: pointer;
}

.recipe-name, .add-recipe {
  display: inline-block;
  font-size: 18px;
  max-width: 250px;
}

.add-recipe {
  float: right;
}


/* Meal Plan page */


.mealplan-page {
  background-color: #ff9c5b;
}

.mp, .rname {
  margin-top: 50px;
  text-align: center;
}

.date, .name, .source {
  text-align: center;
}

#gotolist, #backtomp {
  font-family: "Lucida Grande";
  padding: 13px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

#gotolist:hover, #gotolist:focus, #backtomp:hover, #backtomp:focus {
  background-color: white;
  color: #3fb26d;
  border: 1px solid #d3d3d3;
}

.plan {
  padding: 30px;
  max-width: 900px;
  margin: auto;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

#recipelink {
  font-family: "Lucida Grande";
  padding: 8px;
  font-size: 12px;
  text-decoration: none;
  background: #5b6cff;
  color: white;
  width: 48px;
  height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

#recipelink:hover, #recipelink:focus {
  background: #4898cc;
}

.buttongroup {
  margin-top: 50px;
}

#previous {
  margin-right: 50px;
  border: none;
}

#newmpbtn {
  border: none;
}


/* Meal Plans page */


.each {
  border: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-align: center;
}


/* Shopping List page */


.shoppinglist-page {
  background-color: #e5d651;
}

.list {
  padding: 30px 50px;
  max-width: 900px;
  margin: auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.sl {
  margin-top: 50px;
  text-align: center;
}

#shopping-list-add {
  border: 1px solid ;
  padding: 8px;
  max-width: 600px;
  margin: auto;
}

.additem {
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
}

#entry {
  font-size: 16px;
  width: 250px;
  min-height: 48px;
  margin: auto;
  display: inline;
  margin-right: 5px;
  border: none;
  border-bottom: solid 1px ;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,  4%);
  background-position: -250px 0;
  background-size: 250px 100%;
  background-repeat: no-repeat;
}

label[for=entry] {
  font-size: 20px;
}

#entry:focus, #entry:hover {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#entry::placeholder {
  color: #b0c4de;
}

#additembtn {
  display: inline;
  font-size: 14px;
  padding: 5px;
}

.shopping-list-items, .my-added-items {
  padding: 0;
  list-style: none;
}

.shopping-list-items li, .my-added-items li {
  margin-bottom: 8px;
  padding: 8px;
  font-size: 16px;
  transition: 0.2s;
  min-width: 48px;
  min-height: 48px;
}

.my-added-items li {
  background: #5bbeff;
}

.my-added-items li:hover, .my-added-items li:focus {
  background: #4898cc;
}

.shopping-list-items li {
  background: #d3d3d3;
}

.shopping-list-items li:hover, .shopping-list-items li:focus {
  background: #606060;
}

.editable {
  border: solid 1px ;
}

.editable .non_edit {
  display: none;
}

.edit {
  display: none;
}

.editable .edit {
  display: inline;
}

.check  {
  cursor: pointer;
  float: left;
  margin-right: 10px;
}

.checked {
  text-decoration: line-through;
}

.new {
  overflow: auto;
  display: block;
  margin-bottom: 10px;
}

.editbtn1, .editbtn2, .del1, .del2  {
  cursor: pointer;
  margin-top: 10px;
}

.pipe {
  margin-top: 10px;
  margin-right: 10px;
  display: inline;
}

.editbtn1, .editbtn2 {
  float: left;
  margin-right: 10px;
}

.editbtn1:hover, .editbtn2:hover {
  font-weight: bold;
  text-decoration: underline;
}

.del1:hover, .del2:hover {
  font-size: 120%;
}

@media screen and (min-width: 600px) {
  .shopping-list-items li, .my-added-items li {
    font-size: 20px;
  }
  .list {
    margin: 10px 30px;
  }
  .nav li {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .welcome {
    font-size: 50px;
  }
  .sub, .stress, .step1, .step2, .step3 {
    font-size: 40px;
  }
  .with {
    font-size: 32px;
  }
  .how {
    font-size: 20px;
  }
  .list {
    margin: 10px 150px;
  }
}

@media screen and (min-width: 900px) {
  .list {
    margin: 10px 200px;
  }
}
